<div class="ice">
	<div class="blue-line"></div>
	<div class="center-line">
		<div class="center-circle"></div>
	</div>
	<div class="face-off top"></div>
	<div class="face-off bottom"></div>
</div>

<ul class="goal top">
	<li></li>
	<li></li>
	<li></li>
</ul>
<ul class="goal bottom">
	<li></li>
	<li></li>
	<li></li>
</ul>

<h3>Score:<br />
	<span id="score2"></span> - {{ player2 }} <br />
	<span id="score1"></span> - {{ player1 }}
</h3>

<h1 id="countdown"></h1>

<div class="paddle" id="player1"></div>
<div class="paddle" id="player2"></div>
<div id="puck"></div>
