<h1>Air Hockey</h1>
<form>
	<p>Who's playing?</p>
	<input required type="text" placeholder="Enter Your Name" />
	<input type="submit" value="Start Game" />

	<ul>
		<li>Controls:</li>
		<li>Arrows/Touch - Player Movement</li>
		<li>Spacebar - Pause Game</li>
		<li>R - Reset the Round</li>
	</ul>
</form>
